* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #121f26;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20vh;
    margin-left: 8vw;
    margin-right: 8vw;

}

.hexagon-container {

    position: relative;
    width: 35vw;
    height: 35vw;
    overflow: hidden;

}

.hexagon-container img {
    z-index: 100;
    width: 100%;
    display: block;
    clip-path: url(#hexagon-clip-path);
}

.info {
    text-align: left;
    background: #121f26;
    padding: 20px;
    border-radius: 10px;
    width: 35vw;
}

.info p {
    color: #ffffff;
    padding-bottom: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    background-color: #121f26;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    /* font-weight: 800; */
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}


.auth-buttons button {
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    background-color: #5999B1;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.auth-buttons button+button {
    margin-left: 10px;
}


.hashtag {
    padding: 0.2rem;
    background-color: #224452;
    color: #ffffff;
    width: 185px;
    border-radius: 2rem;
    font-size: 15.2px;
    font-weight: bold;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    margin-top: 10px;
}

.p {
    color: #ffffff;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 70px;
}

.buttons-container {
    display: flex;
    width: 190px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5999B1;
    border-radius: 3rem;

}

.explore-button,
.subscribe-button {
    color: white;
    border: none;
    cursor: pointer;
}

.explore-button {
    padding: 35px;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor:pointer;
}

.subscribe-button {
    padding: 0.3rem;
    background-color: #224452;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
}

section {
    height: 100vh;
}


    /* cards section  */
    .card-index{
        display: flex;
            flex-wrap: wrap;
            justify-content: center; /* Center cards horizontally within the container */
            gap: 10px; /* Space between cards */
            width: 80%; /* You can adjust this as needed */
            margin: 0 auto;
        
    }
    .card-image{
        border-radius: 1rem;
        background-color: #224452;
        position: relative;
        margin: 1rem;
        border: #ffffff  solid 1px;
        height:  16.341rem;
        
    
    }
    .card-image img{
        border-radius: 1rem 1rem 0rem 0rem;
        height: 8.5rem;
        width: 12.9rem;
    }
    .topic-name{
        color: #ffffff;
        padding: 0.5rem;
    
    }
    .p-blog{
        color: #ffffff;
        margin-left: 5rem;
        font-size: 28.1px;
        font-weight: 600;
    }
    .explore-btn button{
        color: #ffffff;
        background: transparent;
        border: none;
        width: 70px;
        background-color: #5999B1;
        padding: 0.2rem 0.4rem 0.2rem 0.4rem;
        cursor: pointer;
        border-radius: 1rem;
       
    
    }
    .explore-btn{
        color: #ffffff;
        position: absolute; 
        bottom: 0; 
        right: 0; 
        width: 65px;
        margin: 0.4rem ;
        border-radius: 5rem;
        text-align: center;
        transition: background-color 0.3s ease;
        margin: 0rem 0.9rem 0.6rem 0rem; 
       
    }
    a{
        text-decoration: none;
        color: #ffffff;
    }

    

/* .card-index {
    margin-left: 12rem;
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 15rem;

}

.card-image {
    border-radius: 1rem;
    background-color: #224452;
    position: relative;
    margin: 1rem;
    border: #ffffff solid 1px;
    height: 16.341rem;


}

.card-image img {
    border-radius: 1rem 1rem 0rem 0rem;
    height: 8.5rem;
    width: 12.9rem;
}

.topic-name {
    color: #ffffff;
    padding: 0.5rem;

}

.p-blog {
    color: #ffffff;
    margin-left: 5rem;
    font-size: 28.1px;
    font-weight: 600;
}

.explore-btn button {
    color: #ffffff;
    background: transparent;
    border: none;
    width: 70px;
    background-color: #5999B1;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    cursor: pointer;
    border-radius: 1rem;


}

.explore-btn {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65px;
    margin: 0.4rem;
    border-radius: 5rem;
    text-align: center;
    transition: background-color 0.3s ease;
    margin: 0rem 0.9rem 0.6rem 0rem;

}

.buttons-container a , .auth-buttons a{
    text-decoration: none;
    color:#fff;
} */

