* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #121f26;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20vh;
    margin-left: 8vw;
    margin-right: 8vw;

}

.hexagon-container {

    position: relative;
    width: 35vw;
    height: 35vw;
    overflow: hidden;

}

.hexagon-container img {
    z-index: 100;
    width: 100%;
    display: block;
    clip-path: url(#hexagon-clip-path);
}

.info {
    text-align: left;
    background: #121f26;
    padding: 20px;
    border-radius: 10px;
    width: 35vw;
}

.info p {
    color: #ffffff;
    padding-bottom: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    background-color: #121f26;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    /* font-weight: 800; */
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}


.auth-buttons button {
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    background-color: #5999B1;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.auth-buttons button+button {
    margin-left: 10px;
}


.hashtag {
    padding: 0.2rem;
    background-color: #224452;
    color: #ffffff;
    width: 185px;
    border-radius: 2rem;
    font-size: 15.2px;
    font-weight: bold;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    margin-top: 10px;
}

.p {
    color: #ffffff;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 70px;
}

.buttons-container {
    display: flex;
    width: 190px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5999B1;
    border-radius: 3rem;

}

.explore-button,
.subscribe-button {
    color: white;
    border: none;
    cursor: pointer;
}

.explore-button {
    padding: 35px;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor:pointer;
}

.subscribe-button {
    padding: 0.3rem;
    background-color: #224452;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
}
.p-blog{
    color: #ffffff;
    text-align: center;
    font-size: 28.1px;
    font-weight: 600;
}

section {
    height: 100vh;
}


    /* cards section  */
    .card-index{
        display: flex;
            flex-wrap: wrap;
            justify-content: center; /* Center cards horizontally within the container */
            gap: 10px; /* Space between cards */
            width: 80%; /* You can adjust this as needed */
            margin: 0 auto;
        
    }
    
    .card-div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
        flex-wrap: wrap;
    }
    
    .card {
        background-color: #224452;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 200px;
        transition: transform 0.3s;
        text-align: center;
        filter: drop-shadow(10px 10px 10px black);
    }
    
    .card .image {
        background-color: #224452;
        height: 150px;
    }
    
    .card .image img {
        width: 250px;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    
    .card .topic-name {
        padding: 15px;
        font-size: 1.2em;
        font-weight: bold;
        color: #fff;
    }
    
    #explore-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5999B1;
        color: #fff;
        padding: 10px;
        margin: 15px auto;
        border: #fff 1px solid;
        border-radius: 15px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s;
        cursor: pointer;
        height: 10px;
        width: 40%;
    }
    
    #explore-button:hover {
        background-color: #fff;
        color: #121f26;
    }
    
    .card:hover {
        transform: translateY(-10px);
    }
    a{
        text-decoration: none;
        color: #ffffff;
    }

    @media (min-width:768px){
        .card-div{
            margin: 50px 100px 0px 100px;
        }

    }
    @media (max-width:600px) {
        .card {
            width: 45%;
            height: 195px;
        }
    
        .card .topic-name {
            font-size: 16px;
        }
    
        .card .image {
            max-height: 60%;
        }
    
        #explore-button {
            width: 50%;
            border: black 1px solid;
    
        }
    
    }
    
    @media (max-width:365xpx) {
        #explore-button {
            width: 60%;
        }
    }
    @media (max-width:325px) {
    
        .card{
            height: 200px;
        }
        .card .topic-name{
            font-size: 1px;
        }
        #explore-button {
            width: 60%;
        }
    }
    /* .card-image{
        border-radius: 1rem;
        background-color: #224452;
        position: relative;
        margin: 1rem;
        border: #ffffff  solid 1px;
        height:  16.341rem;
        
    
    }
    .card-image img{
        border-radius: 1rem 1rem 0rem 0rem;
        height: 8.5rem;
        width: 12.9rem;
    }
    .topic-name{
        color: #ffffff;
        padding: 0.5rem;
    
    }
    .p-blog{
        color: #ffffff;
        margin-left: 5rem;
        font-size: 28.1px;
        font-weight: 600;
    }
    .explore-btn button{
        color: #ffffff;
        background: transparent;
        border: none;
        width: 70px;
        background-color: #5999B1;
        padding: 0.2rem 0.4rem 0.2rem 0.4rem;
        cursor: pointer;
        border-radius: 1rem;
       
    
    }
    .explore-btn{
        color: #ffffff;
        position: absolute; 
        bottom: 0; 
        right: 0; 
        width: 65px;
        margin: 0.4rem ;
        border-radius: 5rem;
        text-align: center;
        transition: background-color 0.3s ease;
        margin: 0rem 0.9rem 0.6rem 0rem; 
       
    }
    a{
        text-decoration: none;
        color: #ffffff;
    } */

    

/* .card-index {
    margin-left: 12rem;
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 15rem;

}

.card-image {
    border-radius: 1rem;
    background-color: #224452;
    position: relative;
    margin: 1rem;
    border: #ffffff solid 1px;
    height: 16.341rem;


}

.card-image img {
    border-radius: 1rem 1rem 0rem 0rem;
    height: 8.5rem;
    width: 12.9rem;
}

.topic-name {
    color: #ffffff;
    padding: 0.5rem;

}

.p-blog {
    color: #ffffff;
    margin-left: 5rem;
    font-size: 28.1px;
    font-weight: 600;
}

.explore-btn button {
    color: #ffffff;
    background: transparent;
    border: none;
    width: 70px;
    background-color: #5999B1;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    cursor: pointer;
    border-radius: 1rem;


}

.explore-btn {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65px;
    margin: 0.4rem;
    border-radius: 5rem;
    text-align: center;
    transition: background-color 0.3s ease;
    margin: 0rem 0.9rem 0.6rem 0rem;

}

.buttons-container a , .auth-buttons a{
    text-decoration: none;
    color:#fff;
} */

@media (max-width:600px){
    .hexagon-container{
        display: none;
    }
    .info{
        margin-top: -5vh;
        height: 300px;
        width: 100%;
        font-size: 16px;
        text-align: justify;
    }
    .buttons-container{
        display: none;
    }
    section .ccopyright {
        font-size: 15px;
        background-color: #5999B1;
        color: white;
        text-align: center;
        border-radius: 10px 10px 0px 0px;
        padding: 10px 10px 5px 10px ;
        
    }
    .auth-buttons{
        display: flex;
        width: 60%;
        margin-left: 10px;
        margin-top: 0px;
    }
    .p-blog{
        width: 100vw;
        text-align: center;
    }
    section{
        height: 35vh;
    }
    footer{
        display: none;
    }

}
