* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Override Chrome autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #121F26 inset !important;
    -webkit-text-fill-color: white !important;
}

/* For Firefox */
input:-moz-ui-invalid {
    box-shadow: none !important;
}


body {
    background-color: #121F26;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.site-header {
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    align-items: center;
}

.site-header img {
    border-radius: 50%;
    margin-right: 10px;
    width: 60px;
    height: 60px;
}

.site-header h1 {
    font-size: 24px;
}

.signup-section {
    margin-top: 30px;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.signup-heading h2, .signup-heading p {
    text-align: center;
    margin: 5px;
}

.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-group:not(:last-child) {
    margin-bottom: 16px;
}


.input-field {
    position: relative;
    padding: 10px;
    flex-basis: 48%; 
  
}
.input-field input {    
    font-size: 16px;
    width: 100%;
    padding: 15px 15px 15px 20px;
    color: white;
    border: 2px solid #345A69;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    transition: background-color 5000s ease-in-out 0s;}

.input-field label {
    position: absolute;
    top: 15%;
    left: 20px;
    transform: translateY(-50%);
    background-color: #121F26;
    padding: 0 5px;
    margin-left: -5px;
    color: white;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-150%);
    font-size: 12px;
    color: #fff;
}

#dob{
    line-height: 22px;
}

.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-100%);
    font-size: 12px;
    color: #fff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) sepia(0%) saturate(0%) brightness(100%);
}

.input-field input[type="date"] {
    padding: 15px;
    padding-right: 30px;
    cursor: text;
}

.input-field img {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.phone-field {
    margin-top: 16px;
    flex-basis: 100%;
}

.form-actions {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.submit-btn, .alternative-btn {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    background-color: #345A69;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
